@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
  font-family: 'Quicksand', sans-serif;

  font-family: 'Raleway', sans-serif;
*/
body {
  font-family: 'Quicksand', sans-serif;
  font-family: 'Raleway', sans-serif;
} 

.stu-blue {
  color: blue;
}

.bottom-scrollbar {
  bottom: -16.8px;
}

.bg-gradient-white-transparent {
  background-image: linear-gradient(90deg, #ffffffff, #ffffff00);
}

.bg-gradient-transparent-white {
  background-image: linear-gradient(90deg, #ffffff00, #ffffffff);
}

.mobile-width {
  width: 100%;
  max-width: 640px;
}

.btn-gray {
  @apply border-black border-opacity-50 hover:border-opacity-80 focus-within:border-opacity-80; // focus-within:ring focus-within:ring-blue-300;
}

.btn-gray button {
  @apply bg-gray-800 focus:outline-none disabled:bg-opacity-30;
}

.btn-blue {
  @apply border-blue-500 border-opacity-70 hover:border-opacity-100 focus-within:border-opacity-100;
}

.btn-blue button {
  @apply bg-blue-500 focus:outline-none disabled:bg-opacity-30 ;
}

.hidden-all {
  display: none;
}

.hidden-visually {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.group:hover .group-hover\:bg-white.hover\:bg-gray-800:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}

.group:hover .group-hover\:text-black.hover\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.group:hover .group-hover\:bg-gray-800.hover\:bg-white:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.group:hover .group-hover\:text-white.hover\:text-black:hover{
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}